a {
	color: blue;
}
a:visited{
	color: #43acd7;
}
body {
	color: #333333;
	font-family: "Georgia", "Lucida Sans Unicode", sans-serif;
	margin-left: auto;
    margin-right: auto;
    width: 90%;
}
h1 {
    background-image: url(img/sobre-background.jpg);
	padding: 10px;
}

h2 {
	border-bottom: 3px solid #000000;
}

h3 {
	font-style: normal;
	font-size: 12px;
	margin-left: auto;
    margin-right: auto;
    width: 85%;
}

h4 {
	border-bottom: 2px solid #A9A9A9;
}

img {
	size:5px;
}
figure {
	size: 5 px;
	float: right;
}

figcaption {
	font-style: italic;
	margin-top: 10px;
}
p {
	padding: 0 45px;
	text-indent: 15px;
}
